<div class="container-fluid" id="graphs">
    <div class="d-flex justify-content-center">
        {% for graph in graphs %}
        <div class="col-3" style="min-height: 300px">
            <canvas id="{{ graph.label }}" style="width:{{graph.width}};height:{{graph.height}}"></canvas>
        </div>
        {% endfor %}
    </div>
</div>
{% for graph in graphs %}
<script>
    new Chart(document.getElementById("{{ graph.label }}"), {
        type: 'line',
        data: {
            labels: [1500, 1600, 1700, 1750, 1800, 1850, 1900, 1950, 1999, 2050],
            datasets: [{
                data: [86, 114, 106, 106, 107, 111, 133, 221, 783, 2478],
                label: "{{ graph.label }}",
                borderColor: "#3e95cd",
                fill: false
            },
            ]
        },
        options: {
            title: {
                display: true,
                text: '{{graph.title}}'
            }
        }
    });
</script>
{% endfor %}
