<div class="row">
    {% for graph in graphs %}
    <div class="col-4" style="text-align: center;">
        <h4>{{graph.title}}</h4><br>
        <canvas id="{{ graph.label }}"></canvas>
    </div>
    {% endfor %}

</div>

<script>
    {% for graph in graphs %}
    let {{ graph.label }}_chart = new Chart(document.getElementById('{{graph.label}}').getContext('2d'), {
        type: 'line',
        data: {
        },
        options: {
            elements: {
                point: {radius: 0},
                line: {borderWidth: 1.5,}
            },
            scales: {
                xAxes: [{
                    type: 'realtime',
                    realtime: {
                        duration: 60000,
                        refresh: 200,
                        delay: 0,
                        onRefresh: function (chart) {
                            plot.{{graph.label}}Refresh(chart)
                        },
                    }
                }],
            }
        }
    });
    {% endfor %}
    initGraphs();
</script>