<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Drone GUI</title>
</head>

<script type="text/javascript" src="/static/poll.js"></script>
<script type="text/javascript" src="/static/gauge.min.js"></script>
<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css">

<body>
<div id="mode_container" style="text-align: center"><h2>Mode: <span id="mode_set">FULL CONTROL</span></h2></div>
<div id="motor_value_container" style="text-align: center">
    <div style="text-align: center; display:inline-block; width: 300px">
        <h3>Motor 1</h3><br>
        <canvas id="gauge_motor1"></canvas>
        <br>
        <span id="val_motor1"></span>

    </div>
    <div style="text-align: center;display:inline-block; width: 300px">
        <h3>Motor 2</h3><br>
        <canvas id="gauge_motor2"></canvas>
        <br>
        <span id="val_motor2"></span>
    </div>
    <div style="text-align: center;display:inline-block; width: 300px">
        <h3>Motor 3</h3><br>
        <canvas id="gauge_motor3"></canvas>
        <br>
        <span id="val_motor3"></span>

    </div>
    <div style="text-align: center;display:inline-block; width: 300px">
        <h3>Motor 4</h3><br>
        <canvas id="gauge_motor4"></canvas>
        <br>
        <span id="val_motor4"></span>

    </div>


</div>


<script type="text/javascript" src="/static/gauges.js"></script>
<script>

    setInterval(function () {
        getData()
    }, 100);


</script>

</body>
</html>