<div class="d-flex flex-row justify-content-center" style="margin-top:30px">
    <div class="p-2"><span class="dot" id="mode_indicator"></span></div>
    <div class="p-2 mr-auto" style="width:320px"><h4>Mode: <span id="mode"></span></h4></div>

    <div class="p-2 mr-auto" style="width:320px"><h4>Setpoints: <span id="setpoints"></span></h4></div>
    <div class="p-2"><h4>P0: <span id="p0"></span></h4></div>
    <div class="p-2"><h4>P1: <span id="p1"></span></h4></div>
    <div class="p-2"><h4>P2: <span id="p2"></span></h4></div>
</div>

<div class="d-flex flex-row justify-content-around">
    <div class="p-2" style="width:320px"><h4>Toggle: <span id="toggle"></span></h4></div>
    <div class="p-2" style="width:320px"><h4>Battery: <span id="battery"></span> V</h4></div>
</div>